<p class="p-6">TalentCloud Workflows define the stages you will use to move and manage your candidates in your TalentClouds. Default TalentCloud workflow is used with all your TalentClouds by default. You can clone an existing workflow and customize it or create a new workflow.</p>
{{outlet}}