<div class="flex">
    <div style="width: 65%">
        <div class="bg-grey-lighter border-2 border-blue rounded m-5 flex">     
            <div class="px-6 py-4" style="width: 65%;">
                <div class="flex items-center">
                    <div class="h-20 w-20">
                        <i class="fa fa-file-signature text-4xl text-blue-custom"></i>
                    </div>
                    <div class="ml-4">
                        <h4 class="font-bold pb-1">Applied / Interested</h4>
                        <span class="text-grey text-sm">Predefined</span>
                        <p class="pt-1 text-grey-dark text-sm"><i class="fa fa-bolt"></i> 3 Stage Actions Embedded</p>
                    </div>
                </div>
            </div>
                
            <div class="p-5 my-5 text-sm text-right" style="width: 50%">
                <a href="#" class="uppercase no-underline text-grey-darker bg-white border rounded-l p-2" style="margin-right: -5px;"><i class="fa fa-plus mr-3"></i>Add Action</a>
                <a href="#" class="uppercase no-underline text-grey-darker bg-white border rounded-r p-2"><i class="fa fa-pencil-alt"></i></a>
            </div>
        </div>

        <div class="bg-grey-lighter border-2 border-blue rounded m-5 flex">
            <div class="px-6 py-4" style="width: 65%;">
                <div class="flex items-center">
                    <div class="h-20 w-20">
                        <i class="fa fa-phone-volume text-4xl text-blue-custom"></i>
                    </div>
                    <div class="ml-4">
                        <h4 class="font-bold pb-1">Screening</h4>
                        <span class="text-grey text-sm">Type: Phone Screening (Predefined)</span>
                        <p class="pt-1 text-grey-dark text-sm"><i class="fa fa-bolt"></i> 3 Stage Actions Embedded</p>
                    </div>
                </div>
            </div>
                
            <div class="p-5 my-5 text-sm text-right" style="width: 50%">
                <a href="#" class="uppercase no-underline text-grey-darker bg-white border rounded-l p-2" style="margin-right: -5px;"><i class="fa fa-plus mr-3"></i>Add Action</a>
                <a href="#" class="uppercase no-underline text-grey-darker bg-white border rounded-r p-2"><i class="fa fa-pencil-alt"></i></a>
            </div>
        </div>

        <div class="bg-grey-lighter border-2 border-blue rounded m-5 flex">
            <div class="px-6 py-4" style="width: 65%;">
                <div class="flex items-center">
                    <div class="h-20 w-20">
                        <i class="fa fa-comments-dollar text-4xl text-blue-custom"></i>
                    </div>
                    <div class="ml-4">
                        <h4 class="font-bold pb-1">Experfy Tech Interview</h4>
                        <span class="text-grey text-sm">Stage Type: Interview</span>
                        <p class="pt-1 text-grey-dark text-sm"><i class="fa fa-bolt"></i> 3 Stage Actions Embedded</p>
                    </div>
                </div>
            </div>
                
            <div class="p-5 my-5 text-sm text-right" style="width: 50%">
                <a href="#" class="uppercase no-underline text-grey-darker bg-white border rounded-l p-2" style="margin-right: -5px;"><i class="fa fa-plus mr-3"></i>Add Action</a>
                <a href="#" class="uppercase no-underline text-grey-darker bg-white border rounded-r p-2"><i class="fa fa-pencil-alt"></i></a>
            </div>
        </div>

        <div class="bg-grey-lighter border-2 border-blue rounded m-5 flex">              
            <div class="px-6 py-4" style="width: 65%;">
                <div class="flex items-center">
                    <div class="h-20 w-20">
                        <i class="fa fa-user-friends text-4xl text-blue-custom"></i>
                    </div>
                    <div class="ml-4">
                        <h4 class="font-bold pb-1">Shortlisted</h4>
                        <span class="text-grey text-sm">Predefined</span>
                        <p class="pt-1 text-grey-dark text-sm"><i class="fa fa-bolt"></i> 3 Stage Actions Embedded</p>
                    </div>
                </div>
            </div>
                
            <div class="p-5 my-5 text-sm text-right" style="width: 50%">
                <a href="#" class="uppercase no-underline text-grey-darker bg-white border rounded-l p-2" style="margin-right: -5px;"><i class="fa fa-plus mr-3"></i>Add Action</a>
                <a href="#" class="uppercase no-underline text-grey-darker bg-white border rounded-r p-2"><i class="fa fa-pencil-alt"></i></a>
            </div>
        </div>

        <div class="bg-grey-lighter border-2 border-blue rounded m-5 flex">
            <div class="px-6 py-4" style="width: 65%;">
                <div class="flex items-center">
                    <div class="h-20 w-20">
                        <i class="fa fa-comments-dollar text-4xl text-blue-custom"></i>
                    </div>
                    <div class="ml-4">
                        <h4 class="font-bold pb-1">Hiring Team Interview</h4>
                        <span class="text-grey text-sm">Stage Type: Interview</span>
                        <p class="pt-1 text-grey-dark text-sm"><i class="fa fa-bolt"></i> 3 Stage Actions Embedded</p>
                    </div>
                </div>
            </div>
                
            <div class="p-5 my-5 text-sm text-right" style="width: 50%">
                <a href="#" class="uppercase no-underline text-grey-darker bg-white border rounded-l p-2" style="margin-right: -5px;"><i class="fa fa-plus mr-3"></i>Add Action</a>
                <a href="#" class="uppercase no-underline text-grey-darker bg-white border rounded-r p-2"><i class="fa fa-pencil-alt"></i></a>
            </div>
        </div>
    </div>
    <div class="content my-4 mx-3" style="width: 30%">
        <h2 class="py-2 text-grey-darker">Predefined Common Stages:</h2>
        
        <p class="py-4 text-grey-dark" style="line-height: 1.4"><span class="font-bold">Applied: </span>You can invite the candidates to an opportunity. The candidates that accept your invitation, are automatically placed in the Applied stage. The candidates that you are still awaiting a response from appear in the Pending Invites stage.</p>
        
        <p class="py-4 text-grey-dark" style="line-height: 1.4">Applied stage will consist of all candidates who proactively apply to your opportunity through different sources, or who accept your invitations.</p>
        
        <p class="py-4 text-grey-dark" style="line-height: 1.4"><span class="font-bold">Shortlisted: </span>You can shortlist candidates for an interview at any stage during the recruiting cycle and hey you will appear in this stage as Shortlisted candidates. <span class="font-bold">Offer, Onboarding</span> and <span class="font-bold">Hired</span> are other stages that are common to all requistions.</p>

        <h2 class="py-2 text-grey-darker">Candidate Recruiting Stages</h2>
        
        <p class="py-4 text-grey-dark" style="line-height: 1.4">You have flexibility to add up to 10 more recruiting stages in the pipeline. You can add, move, delete or edit any of these stages, While adding, select a "Stage Type" that closely matches the purpose of this stage. You can embed sta actions in diffrent stages. Stage actions are actions that are triggerd as soon as a candidate enters a stage. These vary from sending an email or an assessment to assigning a task.</p>
    </div>
</div>