<!-- All Workflows -->
<div class="workflows">
    {{#each @model as |data|}}
        <Workflows @workflows={{data}} />
    {{/each}}

<!-- TalentCloud Workflows -->
    {{#each this.talentCloud as |item|}}
        <Workflows @talentCloud={{item}} />
    {{/each}}
</div>